# Secrets
.env

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# Platform build artifacts
android/.gradle/
ios/Pods/
ios/.symlinks/
