--
-- PostgreSQL database dump
--

\restrict vSCLxege3otAG4vgsP5HOTjJXuIrYXm2NbzXVLVBbGZVYBcYsrin354eTSzt0Xv

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ads (
    id integer NOT NULL,
    title character varying(150),
    image_url text NOT NULL,
    link_url text,
    sort_order integer DEFAULT 0,
    created_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ads OWNER TO postgres;

--
-- Name: ads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ads_id_seq OWNER TO postgres;

--
-- Name: ads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ads_id_seq OWNED BY public.ads.id;


--
-- Name: aes_content; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aes_content (
    id integer NOT NULL,
    what_is_aes text,
    history text,
    objectives text,
    donation_contact character varying(15),
    progress_current numeric(12,2) DEFAULT 0,
    progress_target numeric(12,2) DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.aes_content OWNER TO postgres;

--
-- Name: aes_content_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.aes_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.aes_content_id_seq OWNER TO postgres;

--
-- Name: aes_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.aes_content_id_seq OWNED BY public.aes_content.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    actor_id integer,
    action text NOT NULL,
    target_id integer,
    target_type character varying(50),
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: event_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_assignments (
    id integer NOT NULL,
    event_id integer NOT NULL,
    member_id integer NOT NULL,
    assigned_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.event_assignments OWNER TO postgres;

--
-- Name: event_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.event_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_assignments_id_seq OWNER TO postgres;

--
-- Name: event_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.event_assignments_id_seq OWNED BY public.event_assignments.id;


--
-- Name: event_labarthis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.event_labarthis (
    id integer NOT NULL,
    event_id integer NOT NULL,
    name character varying(150) NOT NULL,
    amount numeric(12,2),
    note text,
    added_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.event_labarthis OWNER TO postgres;

--
-- Name: event_labarthis_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.event_labarthis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.event_labarthis_id_seq OWNER TO postgres;

--
-- Name: event_labarthis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.event_labarthis_id_seq OWNED BY public.event_labarthis.id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    vibhag_type character varying(30) NOT NULL,
    name character varying(150) NOT NULL,
    date date NOT NULL,
    "time" time without time zone,
    venue character varying(200),
    labarthi character varying(200),
    description text,
    created_by integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    updated_by integer,
    end_date date,
    end_time time without time zone,
    members_locked boolean DEFAULT false NOT NULL,
    members_locked_by integer,
    members_locked_at timestamp with time zone,
    members_updated_at timestamp with time zone
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: gallery_albums; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gallery_albums (
    id integer NOT NULL,
    title character varying(150) NOT NULL,
    description text,
    event_id integer,
    cover_url text,
    created_by integer,
    created_at timestamp with time zone DEFAULT now(),
    year integer
);


ALTER TABLE public.gallery_albums OWNER TO postgres;

--
-- Name: gallery_albums_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gallery_albums_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gallery_albums_id_seq OWNER TO postgres;

--
-- Name: gallery_albums_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gallery_albums_id_seq OWNED BY public.gallery_albums.id;


--
-- Name: gallery_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gallery_photos (
    id integer NOT NULL,
    album_id integer NOT NULL,
    image_url text NOT NULL,
    caption character varying(200),
    uploaded_by integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.gallery_photos OWNER TO postgres;

--
-- Name: gallery_photos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gallery_photos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gallery_photos_id_seq OWNER TO postgres;

--
-- Name: gallery_photos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gallery_photos_id_seq OWNED BY public.gallery_photos.id;


--
-- Name: member_children; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member_children (
    id integer NOT NULL,
    member_id integer,
    name character varying(100),
    dob date,
    contact character varying(15),
    photo_url text,
    photo_drive_id text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.member_children OWNER TO postgres;

--
-- Name: member_children_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.member_children_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_children_id_seq OWNER TO postgres;

--
-- Name: member_children_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.member_children_id_seq OWNED BY public.member_children.id;


--
-- Name: member_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member_profiles (
    id integer NOT NULL,
    member_id integer,
    full_name character varying(100),
    email character varying(100),
    dob date,
    anniversary_date date,
    native_place character varying(100),
    blood_group character varying(5),
    photo_url text,
    photo_drive_id text,
    res_address text,
    res_phone character varying(15),
    office_address text,
    office_phone character varying(15),
    mandal_category character varying(50),
    mandal_position character varying(50),
    spouse_name character varying(100),
    spouse_mobile character varying(15),
    spouse_dob date,
    spouse_photo_url text,
    spouse_photo_drive_id text,
    profile_complete_pct integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.member_profiles OWNER TO postgres;

--
-- Name: member_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.member_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_profiles_id_seq OWNER TO postgres;

--
-- Name: member_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.member_profiles_id_seq OWNED BY public.member_profiles.id;


--
-- Name: members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.members (
    id integer NOT NULL,
    mobile character varying(15) NOT NULL,
    password_hash text NOT NULL,
    role character varying(20) DEFAULT 'member'::character varying,
    role_status character varying(20) DEFAULT 'approved'::character varying,
    status character varying(10) DEFAULT 'active'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.members OWNER TO postgres;

--
-- Name: members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.members_id_seq OWNER TO postgres;

--
-- Name: members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.members_id_seq OWNED BY public.members.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    member_id integer,
    token_hash text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: vibhag_heads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vibhag_heads (
    id integer NOT NULL,
    vibhag_type character varying(30) NOT NULL,
    member_id integer NOT NULL,
    assigned_by integer,
    assigned_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.vibhag_heads OWNER TO postgres;

--
-- Name: vibhag_heads_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vibhag_heads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vibhag_heads_id_seq OWNER TO postgres;

--
-- Name: vibhag_heads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vibhag_heads_id_seq OWNED BY public.vibhag_heads.id;


--
-- Name: vibhags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vibhags (
    type character varying(30) NOT NULL,
    name character varying(60) NOT NULL,
    description text,
    color character varying(9) DEFAULT '#2992D6'::character varying NOT NULL,
    icon character varying(40) DEFAULT 'event'::character varying NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.vibhags OWNER TO postgres;

--
-- Name: ads id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ads ALTER COLUMN id SET DEFAULT nextval('public.ads_id_seq'::regclass);


--
-- Name: aes_content id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aes_content ALTER COLUMN id SET DEFAULT nextval('public.aes_content_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: event_assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_assignments ALTER COLUMN id SET DEFAULT nextval('public.event_assignments_id_seq'::regclass);


--
-- Name: event_labarthis id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_labarthis ALTER COLUMN id SET DEFAULT nextval('public.event_labarthis_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: gallery_albums id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_albums ALTER COLUMN id SET DEFAULT nextval('public.gallery_albums_id_seq'::regclass);


--
-- Name: gallery_photos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_photos ALTER COLUMN id SET DEFAULT nextval('public.gallery_photos_id_seq'::regclass);


--
-- Name: member_children id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_children ALTER COLUMN id SET DEFAULT nextval('public.member_children_id_seq'::regclass);


--
-- Name: member_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_profiles ALTER COLUMN id SET DEFAULT nextval('public.member_profiles_id_seq'::regclass);


--
-- Name: members id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members ALTER COLUMN id SET DEFAULT nextval('public.members_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: vibhag_heads id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhag_heads ALTER COLUMN id SET DEFAULT nextval('public.vibhag_heads_id_seq'::regclass);


--
-- Data for Name: ads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ads (id, title, image_url, link_url, sort_order, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: aes_content; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.aes_content (id, what_is_aes, history, objectives, donation_contact, progress_current, progress_target, updated_at) FROM stdin;
1	Aradhana Education Society (AES) supports the education of children and youth in our community.	AES was started by the Aradhana Youth Association to extend its work beyond events into education and welfare.	Provide scholarships, learning materials and mentorship to deserving students of the community.	9876767676	0.00	0.00	2026-06-14 19:53:50.123189+05:30
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: event_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event_assignments (id, event_id, member_id, assigned_by, created_at) FROM stdin;
2	8	2	2	2026-06-14 18:20:30.124949+05:30
4	7	1	2	2026-06-14 18:26:22.422572+05:30
5	7	2	2	2026-06-14 18:26:22.422572+05:30
\.


--
-- Data for Name: event_labarthis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.event_labarthis (id, event_id, name, amount, note, added_by, created_at) FROM stdin;
1	8	abc shah	5000.00	\N	2	2026-06-14 17:57:07.032916+05:30
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gallery_albums; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gallery_albums (id, title, description, event_id, cover_url, created_by, created_at, year) FROM stdin;
1	Paryushan	\N	\N	\N	2	2026-06-14 18:46:59.727258+05:30	2026
\.


--
-- Data for Name: gallery_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gallery_photos (id, album_id, image_url, caption, uploaded_by, created_at) FROM stdin;
\.


--
-- Data for Name: member_children; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.member_children (id, member_id, name, dob, contact, photo_url, photo_drive_id, sort_order, created_at) FROM stdin;
2	2	pratyush	2006-01-28	9764616466	\N	\N	0	2026-06-12 20:50:21.406673+05:30
\.


--
-- Data for Name: member_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vibhag_heads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vibhag_heads (id, vibhag_type, member_id, assigned_by, assigned_at) FROM stdin;
\.


--
-- Data for Name: vibhags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ads_id_seq', 1, false);


--
-- Name: aes_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.aes_content_id_seq', 1, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 162, true);


--
-- Name: event_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.event_assignments_id_seq', 5, true);


--
-- Name: event_labarthis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.event_labarthis_id_seq', 1, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 8, true);


--
-- Name: gallery_albums_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gallery_albums_id_seq', 1, true);


--
-- Name: gallery_photos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gallery_photos_id_seq', 1, false);


--
-- Name: member_children_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.member_children_id_seq', 2, true);


--
-- Name: member_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.member_profiles_id_seq', 5, true);


--
-- Name: members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.members_id_seq', 15, true);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 25, true);


--
-- Name: vibhag_heads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vibhag_heads_id_seq', 1, true);


--
-- Name: ads ads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ads
    ADD CONSTRAINT ads_pkey PRIMARY KEY (id);


--
-- Name: aes_content aes_content_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aes_content
    ADD CONSTRAINT aes_content_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: event_assignments event_assignments_event_id_member_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_assignments
    ADD CONSTRAINT event_assignments_event_id_member_id_key UNIQUE (event_id, member_id);


--
-- Name: event_assignments event_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_assignments
    ADD CONSTRAINT event_assignments_pkey PRIMARY KEY (id);


--
-- Name: event_labarthis event_labarthis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_labarthis
    ADD CONSTRAINT event_labarthis_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: gallery_albums gallery_albums_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_albums
    ADD CONSTRAINT gallery_albums_pkey PRIMARY KEY (id);


--
-- Name: gallery_photos gallery_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_photos
    ADD CONSTRAINT gallery_photos_pkey PRIMARY KEY (id);


--
-- Name: member_children member_children_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_children
    ADD CONSTRAINT member_children_pkey PRIMARY KEY (id);


--
-- Name: member_profiles member_profiles_member_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_profiles
    ADD CONSTRAINT member_profiles_member_id_key UNIQUE (member_id);


--
-- Name: member_profiles member_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_profiles
    ADD CONSTRAINT member_profiles_pkey PRIMARY KEY (id);


--
-- Name: members members_mobile_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_mobile_key UNIQUE (mobile);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: vibhag_heads vibhag_heads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhag_heads
    ADD CONSTRAINT vibhag_heads_pkey PRIMARY KEY (id);


--
-- Name: vibhag_heads vibhag_heads_vibhag_type_member_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhag_heads
    ADD CONSTRAINT vibhag_heads_vibhag_type_member_id_key UNIQUE (vibhag_type, member_id);


--
-- Name: vibhags vibhags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhags
    ADD CONSTRAINT vibhags_pkey PRIMARY KEY (type);


--
-- Name: idx_assignments_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assignments_event ON public.event_assignments USING btree (event_id);


--
-- Name: idx_assignments_member; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_assignments_member ON public.event_assignments USING btree (member_id);


--
-- Name: idx_events_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_date ON public.events USING btree (date);


--
-- Name: idx_events_end_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_end_date ON public.events USING btree (end_date);


--
-- Name: idx_events_vibhag; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_events_vibhag ON public.events USING btree (vibhag_type);


--
-- Name: idx_gallery_albums_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gallery_albums_event ON public.gallery_albums USING btree (event_id);


--
-- Name: idx_gallery_albums_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gallery_albums_year ON public.gallery_albums USING btree (year);


--
-- Name: idx_gallery_photos_album; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gallery_photos_album ON public.gallery_photos USING btree (album_id);


--
-- Name: idx_labarthis_event; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_labarthis_event ON public.event_labarthis USING btree (event_id);


--
-- Name: idx_member_children_member; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_member_children_member ON public.member_children USING btree (member_id);


--
-- Name: idx_refresh_tokens_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_hash ON public.refresh_tokens USING btree (token_hash);


--
-- Name: idx_refresh_tokens_member; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_member ON public.refresh_tokens USING btree (member_id);


--
-- Name: idx_vibhag_heads_member; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vibhag_heads_member ON public.vibhag_heads USING btree (member_id);


--
-- Name: idx_vibhag_heads_vibhag; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vibhag_heads_vibhag ON public.vibhag_heads USING btree (vibhag_type);


--
-- Name: ads ads_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ads
    ADD CONSTRAINT ads_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.members(id);


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.members(id);


--
-- Name: event_assignments event_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_assignments
    ADD CONSTRAINT event_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.members(id);


--
-- Name: event_assignments event_assignments_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_assignments
    ADD CONSTRAINT event_assignments_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: event_assignments event_assignments_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_assignments
    ADD CONSTRAINT event_assignments_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: event_labarthis event_labarthis_added_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_labarthis
    ADD CONSTRAINT event_labarthis_added_by_fkey FOREIGN KEY (added_by) REFERENCES public.members(id);


--
-- Name: event_labarthis event_labarthis_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.event_labarthis
    ADD CONSTRAINT event_labarthis_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: events events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.members(id);


--
-- Name: events events_members_locked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_members_locked_by_fkey FOREIGN KEY (members_locked_by) REFERENCES public.members(id);


--
-- Name: events events_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.members(id);


--
-- Name: events fk_events_vibhag; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT fk_events_vibhag FOREIGN KEY (vibhag_type) REFERENCES public.vibhags(type);


--
-- Name: gallery_albums gallery_albums_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_albums
    ADD CONSTRAINT gallery_albums_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.members(id);


--
-- Name: gallery_albums gallery_albums_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_albums
    ADD CONSTRAINT gallery_albums_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE SET NULL;


--
-- Name: gallery_photos gallery_photos_album_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_photos
    ADD CONSTRAINT gallery_photos_album_id_fkey FOREIGN KEY (album_id) REFERENCES public.gallery_albums(id) ON DELETE CASCADE;


--
-- Name: gallery_photos gallery_photos_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gallery_photos
    ADD CONSTRAINT gallery_photos_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.members(id);


--
-- Name: member_children member_children_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_children
    ADD CONSTRAINT member_children_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id);


--
-- Name: member_profiles member_profiles_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member_profiles
    ADD CONSTRAINT member_profiles_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id);


--
-- Name: refresh_tokens refresh_tokens_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id);


--
-- Name: vibhag_heads vibhag_heads_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhag_heads
    ADD CONSTRAINT vibhag_heads_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.members(id);


--
-- Name: vibhag_heads vibhag_heads_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhag_heads
    ADD CONSTRAINT vibhag_heads_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: vibhag_heads vibhag_heads_vibhag_type_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vibhag_heads
    ADD CONSTRAINT vibhag_heads_vibhag_type_fkey FOREIGN KEY (vibhag_type) REFERENCES public.vibhags(type) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict vSCLxege3otAG4vgsP5HOTjJXuIrYXm2NbzXVLVBbGZVYBcYsrin354eTSzt0Xv

